.header .navbar {
	background-color: transparent !important;
}

.navbar-nav {
	font-size: 21px;
}

.drop{
    align-self: start;
    padding: 0;
}

.search-input {
    border-radius: 0;
    height: 4rem;
}

.search-input-were {
    border-radius: 0;
    border-left: 0;
    height: 4rem;
    background-color: #0A1172;
}

@media screen and (max-width: 576px) {
  .dropdown {
    display:none;
  }
}

@media screen and (max-width: 575px) {
  .bg-dark {
	    background-color: #343a40!important;
  }
}

@media screen and (min-width: 576px) {
  .bg-dark {
	    background-color: transparent !important;
  }
}

body {
	font-family: 'Poppins', Arial, sans-serif;
}

.navbar-brand i{
    font-size: 4rem;
}


.header-back {
  height: 100vh;
  min-height: 500px;
  background-image: url('img/travels-header-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.imagen-1 {
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1509719782173-841a7542cb4d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1365&q=80");
    background-repeat: no-repeat;
    min-height: 15rem;
    height: 25rem;
    background-position: center;
    
}

.imagen-2 {
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1585493847129-cddda03a8c07?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    background-repeat: no-repeat;
    min-height: 15rem;
    height: 25rem;
    background-position: center;
    
}

.buttonsection1 {
    background-color: #0A1172;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    
}

.buttontravels {
    background-color: #0A1172;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}


button:hover {
    background-color: #5057b0;
    color: white;
    font-weight: bold;
}

.iconsSection2 {
    color: #5057b0;

}

.jumbotron {
	background: #0A1172;
	color: #fff;
	border-radius: 0px;
	font-size: 24px;
}
.jumbotron-sm {
	padding-top: 24px;
	padding-bottom: 24px;
}

.btn-new-color{
    background-color: #0A1172;
    transition-duration: 0.4s;
}

.btn-new-color:hover{
    background-color: #5057B0;
}

.map {
	width: 100%;
}

.bg-color {
	background-color: black;
}
