.header .navbar {
	background-color: transparent !important;
}

.navbar-nav {
	font-size: 21px;
}

.drop{
    align-self: start;
    padding: 0;
}

.search-input {
    border-radius: 0;
    height: 4rem;
}

.search-input-were {
    border-radius: 0;
    border-left: 0;
    height: 4rem;
}

@media screen and (max-width: 576px) {
  .dropdown {
    display:none;
  }
}

@media screen and (max-width: 575px) {
  .bg-dark {
	    background-color: #343a40!important;
  }
}

@media screen and (min-width: 576px) {
  .bg-dark {
	    background-color: transparent!important;
  }
}

body {
	font-family: 'Poppins', Arial, sans-serif;
}

.navbar-brand i{
    font-size: 4rem;
}


.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('img/travels-header-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}